streamlit
numpy
Pillow
nest-asyncio
lark
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
st-gsheets-connection
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
pysqlite3-binary
chromadb
pandas
protobuf<5
ultralytics
packaging>=23.0
orjson==3.9.15